/* main */

body {
    background-color: #D9D9D9;
    font-size: 150%;
    color: black;
}

.main {
    background-color: #D9D9D9;
    margin: 0 15vw 0 15vw;
    padding: 0 40px 0 40px;
}

.dark-bg {
    background: #f1f1f1;

    margin: 0 calc(-15vw - 40px) 0 calc(-15vw - 40px);
}

.light-bg {
    background: #FBFBFA;

    margin: 0 calc(-15vw - 40px) 0 calc(-15vw - 40px);
}

h3 {
    font-size: 1.5em;
}

/* title */

.title__div {
    /*margin: 0 -40px 40px -40px;*/
    margin: 0 calc(-15vw - 40px) 0 calc(-15vw - 40px);
    /*background-color: #D9D9D9;*/
    border-radius: 0 0 10px 10px;

    background: rgb(166,166,166);
    background: linear-gradient(185deg, rgba(166,166,166,1) 0%, rgba(231,231,231,1) 27%, rgba(255,255,254,1) 100%);

    /*border-radius: 0 0 5% 0;*/
    /*box-shadow: 10px 5px 5px grey;*/

    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title__div .menu {
    background-color: white;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 20px;
    width: 60vw !important;
}

.title__div .menu a {
    font-weight: bold !important;
}



.title__div > .title_logo__div{
    margin-left: 10%;
    /*flex: 10%;*/
}

.title__div > .title_name__div{
    /*flex: 50%;*/
    line-height: 0;
    margin-left: 70px;
}

.title__div .title_name__div h1{
    /*color: #00327A;*/
    color: #6899DE;
    font-family: 'Lobster', cursive;
    font-size: 4.5em;
    margin-bottom: 0;
}

.title__div .title_name__div h2{
    color: #404040;
    font-size: 1.5em;
    margin-top: 0;
}

.title__div .actions {
    display: flex;
}

.title__div button {
    width: 100%;
}

/* Content */



.content__div {
    margin: 0 15vw 0 15vw;
    /*margin-top: 150px;*/
    padding-top: 100px;
    padding-bottom: 100px;
}

.content__div h1{
    font-size: 1.5em;
}

.content__div h2, .contact__div h2:first-child {
    text-align: center;
    margin-bottom: 100px;
    font-size: 2em;
    text-transform: uppercase;
}

/* Projet */

.projet__div .projet_attentes__div {
    background-color: #6899DE;
    color: #ffffff;
    box-shadow: 10px 5px 5px grey;
    padding: 30px;
    border-radius: 20px;
    margin: 0 10px 0 10px;
}

.projet__div .projet_attentes__div ul{
    list-style: none;
    column-count: 2;
    font-weight: bold;
}

.projet__div .projet_attentes__div ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #776871; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}


/* Objectifs */

.objectif__div img.timeline__img {
    width: 80%;
    margin-left: 10%;
}


/* Equipe */

.equipe_icons__div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.equipe_icons__div > .equipe_icon {
    background: #FBFBFA;
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 5%;
    padding: 15px;
    height: 300px;
    flex: 25%;
}

.equipe_icons__div > .equipe_icon > h4 {
    margin-top: 0;
    color: #6683AD;
    font-size: 1em;
}

.equipe_icons__div > .equipe_icon > p {
    color: #222222;
    font-size: 0.8em;
}

.equipe_icon .avatar__img{
    height: 90px;
}


/* Formation */

.formation__div .formation_rounded__div {
    /*background-color: #F7F7F7;*/
    padding: 40px;
    border-radius: 30px;
    /*box-shadow: 10px 5px 5px grey;*/
}


.ecole_icons__div {
    margin: 60px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ecole_icons__div > .ecole_icon {
    flex: 25%;
}

.ecole_icon i{
    color: #6683AD;
    font-size: 3em;
}

.ecole_icon p{
    color: black;
    font-weight: bold;
}

/* footer */


.contact__div {
    padding-top: 100px;
    padding-bottom: 100px;
    /*background-color: #B4C2D6;*/
    /*margin: 40px -40px 0 -40px;*/
}


.contact__div div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact__div div > .contact_logo__div{
    margin-left: 10%;
    flex: 30%;
}

.contact__div div > .contact_info__div{
    flex: 50%;
}

.contact_info__div ul{
    font-size: 1.5em;
    list-style: none;
    line-height: 3;
}

.contact__div h2.slogan__h2 {
    font-size: 1.7em;
    color: #6683AD;
    text-decoration: none;
    margin: -12px 0 0 37vw;
}

@media screen and (max-width: 1100px) {
    .main {
        margin: 0 0 0 0;
    }

    .title__div {
        height: auto;
        padding-top: 30px;
    }

    .projet__div .projet_attentes__div ul{
        column-count: 1;
    }
}
